body {background-color:lightpink;}

h1 {color: #38664c;
   text-decoration: underline;}

h2 {color: #38664c;
    text-transform: capitalize;
    text-decoration: underline;}


.descrip {font-size: large;}