body {background-color:lightpink;}

h1 {color: #38664c;
   text-decoration: underline;}

h2 {color: #38664c;
    text-transform: capitalize;
    text-decoration: underline;}


.descrip {font-size: large;}

.lasagna {color: #ffd381;
          text-decoration: underline;}
        
#pasta {width: 500px;
        height: auto;}


.burger {color: #e5b73b;
         text-decoration: underline;}


#meat {width: 500px;
       height: auto;}